body{
  padding: 0;
  margin: 0;
  background-color: #FFF;
}

.mainimagebox{
  text-align: center;
  /*max-height: 800px;*/
  height = auto;
  max-height: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
}

.maintextbox{
  position: absolute;
  text-align: center;
  background-color: #1B1919;
  height: 100px;
  top: 40px;
  width: 100%;
  opacity: .5;
}

.mainimagetext{
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: -10px;
  width: 100%;
  font-size: 50;
  color: #E6DCDC;
  font-family: Raleway;
}

.topbuttonmenu{
  position: relative;
  height: 40px;
  background-color: #A62222;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
}

.menubutton{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30.3%;
  height: 60%;
  padding: 8px;
  background-color: #A62222;
  color: #FFF;
  display: block;
  float: left;
  /*border: 1px solid #FFF;
  border-radius: 4px;*/
  font-size: 18px;
  font-family: "Open Sans";
}

.menubutton:hover{
  background-color: #7A1A1A;
}
